body {
    background-color: #ffffff;
    border: 3px dashed #f90006;
}

header {
    border: 3px dashed #0000ff
    ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header * {
    
    margin: 2px;
}

header nav {
    margin: 2px;
}

.topArticle {
    border: 5px dashed #ffff00;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
         
}

.bottomArticle {d
    border: 5px dashed rgb(226, 226, 207);
}

.messageForm {
    border: 2px dashed rgb(207, 11, 11);
    display: flex;
    flex-direction: column;
}

